<md-toolbar  color="primary" class="md2 md-toolbar md-primary">
  <div class="md-toolbar-layout">
      <md-toolbar-row>
        <span class='nav-title'>Recruitment System </span>
        <a class='navbar-icons' routerLink='/login' routerLinkActive='active'>Login</a>
        <a class='navbar-icons' routerLink='/signup' >Sign up</a>
        
      </md-toolbar-row>
    
  </div>
</md-toolbar>
<!--<h1>
  {{title}}
</h1>
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.$value}}
  </li>
</ul>
<button md-button routerLink='/signup' routerLinkActive='active'>Sign up</button>
<button md-button routerLink='/login' routerLinkActive='active'>Login</button>

<a routerLink='/login' routerLinkActive='active'>Login</a>
<a routerLink='/signup' routerLinkActive='active'>Sign up</a>-->

<router-outlet></router-outlet>