<md-toolbar  color="primary" class="md2 md-toolbar md-primary">
  <div class="md-toolbar-layout">
      <md-toolbar-row>
        <span class='nav-title'>Recruitment System </span>
        <span class="spacer"></span>
        
        <div >       
          <a  class='navbar-icons' routerLink='/login' routerLinkActive='active' *ngIf='true'>Login</a>
          <a  class='navbar-icons' routerLink='/signup' *ngIf='true'>Sign up</a>
          
        </div>
        <!--<md-tab-group>
          <md-tab  routerLink='/login' routerLinkActive='active' label="Login"></md-tab>
          <md-tab routerLink='/signup' label="Sign up"></md-tab>
        </md-tab-group>-->
        
      </md-toolbar-row>
    
  </div>
</md-toolbar>
<!--<h1>
  {{title}}
</h1>
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.$value}}
  </li>
</ul>
<button md-button routerLink='/signup' routerLinkActive='active'>Sign up</button>
<button md-button routerLink='/login' routerLinkActive='active'>Login</button>

<a routerLink='/login' routerLinkActive='active'>Login</a>
<a routerLink='/signup' routerLinkActive='active'>Sign up</a>-->
<router-outlet></router-outlet>