<md-progress-spinner class='spin' mode="indeterminate" *ngIf='spinner'></md-progress-spinner>

<md-grid-list cols="3">
  <md-grid-tile></md-grid-tile>
  <md-grid-tile>
<md-card class='example-card '>
    <div class='head-hh'>
        <h2 >Login</h2>
        <form class='example-form' (ngSubmit)="onLogin()" #signUpForm="ngForm">
            <div>
                <md-select placeholder="As" [(ngModel)]="model.type" name="type"  #type="ngModel">
                    <md-option *ngFor="let type of types" [value]="type">
                        {{ type }}
                    </md-option>
                </md-select>
            </div>
            <div>
                <md-input-container class="example-full-width">
                <input md-input type='text' placeholder="email"  [(ngModel)]="model.email" name="email"  #email="ngModel">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="example-full-width">
                <input md-input type='password' placeholder="Password"  [(ngModel)]="model.password" name="password"  #password="ngModel">
                </md-input-container>
            </div>
            <div>
                <button md-button type="submit">Login</button>
                <button routerLink='/signup' md-button>Register</button>
            </div>
            
        </form>
    </div>
</md-card>
</md-grid-tile>
<md-grid-tile></md-grid-tile>
</md-grid-list>