<md-card class='example-card'>
        <div class='head-hh'>
            <h2>Sign Up</h2>
            <form class='example-form'>
                <div>
                    <md-select placeholder="As">
                        <md-option *ngFor="let type of types" [value]="type">
                            {{ type }}
                        </md-option>
                    </md-select>
                </div>
                <div>
                    <md-input-container class="example-full-width">
                    <input md-input placeholder="Username"  >
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="example-full-width">
                    <input md-input placeholder="Email"  >
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="example-full-width">
                    <input md-input placeholder="Password"  >
                    </md-input-container>
                </div>
                <div>
                    <button md-button>Sign Up</button>
                    <button routerLink='/login' md-button>Register</button>
                </div>
                
            </form>
        </div>
</md-card>